@font-face {
    font-family: "FirstFont";
    src: url("css/fonts/HelveticaNeueCyr-Bold.ttf")
}

#gato {
    height: 200px;
    width: 200px;
    margin-left: 22%;
}

#cara {
    height: 200px;
    width: 200px;
    margin-left: 10%;
}

#tv {
    height: 200px;
    width: 200px;
    margin-left: 10%;
}

#duke {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bolder;
    text-align: center;
    font-size: 95px;
    letter-spacing: -10px;
}

.text {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 300;
    text-align: left;
    margin-left: 22%;
    line-height: 1.5;
    font-size: 80%;
}