@font-face {
    font-family: "FirstFont";
    src: url("fonts/HelveticaNeueCyr-Bold.ttf")
}

#grid {
    display: grid;
    grid-template-columns: 30% 20% 20% 30%;
    grid-template-rows: 35% auto 35%;
    height: 100vh;
}

#container {
    position: relative;
}

#duke {
    height: 45%;
    width: auto;
    padding-left: 25%;
    position: absolute;
}

#bike {
    height: 100%;
    position: fixed;
}

#cat{
    height: 500px;
    width: 500px;
    padding-top: 700px;
    align-items: center;
}

#tv{
    height: 500px;
    width: 500px;
    align-items: center;
}

#face{
    height: 500px;
    width: 500px;
    align-items: center;
}

.text {
    text-align: left;
    position: absolute;
    padding-top: 350px;
}

.text a {
    text-decoration: none;
    color: #231F20;
    font-family: "FirstFont";
    line-height: 1em;
    font-size: 18px;
    font-weight:700;
    letter-spacing: -1px;
}